### Site Settings ###
title               : blogBox
description         : >-
                      Welcome to my Personal Blog Space where I share my work such as Projects, Walkthroughs for THM, HTB, & VLNB,
                      Cheatsheets, CertExam Experiences & much more...
baseurl             : ""                     # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
# repository          : YoussefRaafatNasry/portfolYOU     # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
# remote_theme        : YoussefRaafatNasry/portfolYOU


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  - documentation/partials/**                           # For Documentation Only


### Author Info ###
author:
  name              : Tejas Anerao
  image             : /assets/images/mypic.png
  email             : tejasanerao75@gmail.com
  github            : tejasanerao
  linkedin          : tejas-anerao
  twitter           : tejas_anerao


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name


### Disqus ###
disqus:
  shortname: your-short-name-disqus                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: true                                        # Set true to enable analytics
  google:
    tracking_id: UA-189052754-1


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments

### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
